@font-face { font-family: "Anger Style"; src: url("../fonts/AngerStyles.ttf"); }

@font-face { font-family: "Chellin"; src: url("../fonts/AngerStyles.ttf"); }

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #1a2236;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 20px 13px 2px #0000006e;
}

header h1 {
  font-family: "Anger Style", sans-serif;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  width: 85%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 90px;
}

.main .books {
  padding: 25px;
  height: 60vh;
  overflow: scroll;
}

.books .title {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 17px;
  padding: 5px;
}

.books .author {
  font-family: "Chellin", sans-serif;
  color: #df415c;
  padding: 5px;
}

.main form {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}

.main form input[type=submit] {
  background-color: black;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.main form input[type=text] {
  padding: 10px;
  border: 1px solid #ed3a3a57;
}

.main form input:focus {
  border: 1px solid black;
}

.main form input:active {
  border: 1px solid black;
}

.single_book {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #80808026;
  box-shadow: 0 2px 2px 0 #0000006e;
  margin-bottom: 10px;
  padding: 20px 10px;
  width: 100%;
}

.single_book button {
  cursor: pointer;
  padding: 4px;
  border: 1px solid black;
  box-shadow: 0 2px 2px 0 #0000006e;
}
